/* .div{
    height: 5px;
} */

.box1{
    background-color: aqua;
    height: 50px;
}

.box2{
    background-color: red;
    height: 50px;
}

.box3{
    background-color: purple;
    height: 50px;
}

.groupBtnArea{
    min-height: 5px;
}

.groupBtnArea:hover .groupBtn{
    display: block;
    transition: 0.5s;
}

.groupBtn{
    display: none;
}
