<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Feature</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <app-editor [charachteristic]="characteristic"   (OnChangeFeature)="OnChangeFeatureHandler($event)" (DisableSaveEvent)="getDisabledValue($event)"></app-editor>
</div>
<div class="modal-footer">
    <button [disabled]="disabled" type="button" class="btn btn-outline-secondary" (click)="close()">Save</button>
</div>

